# .gitattributes file

# Use the 'ours' merge strategy for the /drizzle folder.
# The `**` pattern matches all files and subdirectories.
drizzle/** merge=ours
dist/** merge=ours

# Use the 'ours' merge strategy for the .env file.
.env merge=ours
schema.dbml merge=ours